<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Propaganda!</title>
    <meta property="og:type" content="website">
    <meta property="theme-color" content="#FFFFFF">
    <meta property="og:site_name" content="">
    <meta property="twitter:title" content="">
    <meta property="og:title" content="">
    <meta property="twitter:description" content="">
    <meta property="og:description" content="">
    <meta property="description" content="">
    <link rel="stylesheet" href="/static/normalize.css">
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <h1>Propaganda!</h1>
    <h2 style="color: #eeaa66">About</h2>
    <p>
        Propaganda! is a game inspired by the way the blaseball community made a lot of memes to convince others to vote one way or another in elections.
        <br>
        It is made by a single fox, <a href="https://beefox.xyz">Bee</a>, a former member of the blaseball community who has made many projects related to it.
        <br>
        It will run until star is no longer having fun, so play fairly and respect each other, there is no promise of how long it will last, just like blaseball, it will be only a flash in the pan of your life.
       <div class="imgContainer"><img src="/static/painting.png" alt="a three tailed fox painting"></div>
    </p>
    <h3>Have Fun!</h3>
    <hr>
    <a class="button" href="/">Back</a>
</body>
</html>