<figure class="item" style="--_item-color: {{item.color}}">
    <div class="icon itemIcon">{{item.icon}}</div>
    <div class="itemModal">
      <h4>{{item.name}}</h4>
      <p>{{item.description}}</p>
    </div>
</figure>
